In [1]:
#utils 
import os
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
def  symbol_to_path(symbol,base_dir='/home/machine_learning/anaconda3/ml4trading/data/'):
    """returns  CSV  file path given symbol"""
    return os.path.join(base_dir,"{}.csv".format(str(symbol)))
def get_data(symbols, dates, SPY500=True):
    """Read stock data (adjusted close) for given symbols from CSV files."""
    df = pd.DataFrame(index=dates)
    if SPY500 and 'SPY' not in symbols:   
        symbols = ['SPY'] + symbols

    for symbol in symbols:
        df_temp = pd.read_csv(symbol_to_path(symbol), index_col='Date',
                parse_dates=True, usecols=['Date', 'Adj Close'], na_values=['nan'])
        df_temp = df_temp.rename(columns={'Adj Close': symbol})
        df = df.join(df_temp)
        if symbol == 'SPY':   
            df = df.dropna(subset=["SPY"])

    return df
def normalize_data(df):
    """Normalize stock prices using the first row of the dataframe."""
    return df / df.ix[0]
def plot_data(df,title="Stock prices"):
    import  matplotlib
    from  matplotlib import pyplot as plt
    """ plot  stock prices"""
    %matplotlib inline
    ax=df.plot(title=title, fontsize=2)
    ax.set_xlabel("Date")
    ax.set_ylabel("Price")
    plt.show()
def plot_selected(df, columns,  start_index,end_index):
    subseted=df.ix[pd.date_range(start_index,end_index),columns].dropna()
    plot_data(subseted)
def compute_daily_returns(df):
    #(price[t]/price[t-1])-1    to  give percent
    daily_returns=df.copy()
    daily_returns[1:]=(df[1:]/df.values[:-1])-1
    daily_returns.ix[0,:]=0
    return  daily_returns[1:]

In [2]:
def compute_portvals(order_files='orders.csv',start_val=100000):
    # to do
    return portval

In [48]:
orders_df = pd.read_csv('orders2.csv', index_col='Date', parse_dates=True, na_values=['nan'])

In [49]:
orders_df.index

DatetimeIndex(['2011-01-14', '2011-01-19', '2011-01-19', '2011-01-31',
               '2011-02-04', '2011-02-11', '2011-03-02', '2011-03-02',
               '2011-06-02', '2011-05-23', '2011-06-10', '2011-08-09',
               '2011-08-11', '2011-12-14'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [50]:
symbols=set(list(orders_df['Symbol']))
symbols=list(symbols)

In [51]:
dates=pd.date_range(orders_df.index[0], orders_df.index[orders_df.shape[0]-1])

In [52]:
df=get_data(symbols,dates)

In [53]:
df.head(13)

               SPY    XOM    GOOG     IBM    AAPL
2011-01-14  125.44  74.62  624.18  145.70  346.99
2011-01-18  125.65  75.45  639.63  146.33  339.19
2011-01-19  124.42  75.00  631.75  151.22  337.39
2011-01-20  124.26  74.53  626.77  151.33  331.26
2011-01-21  124.54  75.71  611.83  151.04  325.32
2011-01-24  125.25  75.34  611.08  155.05  336.01
2011-01-25  125.31  75.43  619.91  156.81  339.94
2011-01-26  125.80  76.37  616.50  156.42  342.38
2011-01-27  126.11  76.58  616.79  156.45  341.74
2011-01-28  123.91  75.72  600.99  154.64  334.66
2011-01-31  124.84  77.34  600.36  157.35  337.87
2011-02-01  126.84  80.44  611.04  158.87  343.55
2011-02-02  126.60  79.96  612.00  158.62  342.85

In [54]:
order_op=df.join(orders_df,how='right')
order_op

               SPY    XOM    GOOG     IBM    AAPL Symbol Order  Shares
2011-01-14  125.44  74.62  624.18  145.70  346.99   AAPL   BUY    1500
2011-01-19  124.42  75.00  631.75  151.22  337.39   AAPL  SELL    1500
2011-01-19  124.42  75.00  631.75  151.22  337.39    IBM   BUY    4000
2011-01-31  124.84  77.34  600.36  157.35  337.87   GOOG   BUY    1000
2011-02-04  127.24  79.84  610.98  159.30  345.02    XOM  SELL    4000
2011-02-11  129.14  79.81  624.50  159.78  355.32    XOM   BUY    4000
2011-03-02  127.29  81.99  600.79  156.18  350.61   GOOG  SELL    1000
2011-03-02  127.29  81.99  600.79  156.18  350.61    IBM  SELL    2200
2011-05-23  128.67  78.18  518.39  164.82  332.97    IBM   BUY    1500
2011-06-02  128.35  78.82  528.06  162.69  344.62    IBM  SELL    3300
2011-06-10  124.33  77.32  509.51  159.84  324.51   AAPL   BUY    1200
2011-08-09  115.04  69.43  573.41  167.84  372.41   GOOG   BUY      55
2011-08-11  114.89  69.83  562.13  164.03  372.10   GOOG  SELL      55
2011-12-14  119.82  77.96  618.07  186.41  378.56   AAPL  SELL    1200

In [55]:
initial_money=1000000
cummulative_return=None
tranzaction_hist=[]
 
for  i in  range(order_op.shape[0]):
   
 
    if order_op['Order'][i]=='BUY':
        symbol=order_op['Symbol'][i]
        current_operation=order_op[symbol][i]*order_op['Shares'][i]
        initial_money=initial_money-current_operation
        tranzaction_hist.append(initial_money)
    else:
        symbol=order_op['Symbol'][i]
        current_operation=order_op[symbol][i]*order_op['Shares'][i]
        initial_money=initial_money+current_operation
        tranzaction_hist.append(initial_money)
order_op['tranzaction']=np.array(tranzaction_hist)
order_op

,SPY,XOM,GOOG,IBM,AAPL,Symbol,Order,Shares,tranzaction
2011-01-14,125.44,74.62,624.18,145.70,346.99,AAPL,BUY,1500,479515.00
2011-01-19,124.42,75.00,631.75,151.22,337.39,AAPL,SELL,1500,985600.00
2011-01-19,124.42,75.00,631.75,151.22,337.39,IBM,BUY,4000,380720.00
2011-01-31,124.84,77.34,600.36,157.35,337.87,GOOG,BUY,1000,-219640.00
2011-02-04,127.24,79.84,610.98,159.30,345.02,XOM,SELL,4000,99720.00
2011-02-11,129.14,79.81,624.50,159.78,355.32,XOM,BUY,4000,-219520.00
2011-03-02,127.29,81.99,600.79,156.18,350.61,GOOG,SELL,1000,381270.00
2011-03-02,127.29,81.99,600.79,156.18,350.61,IBM,SELL,2200,724866.00
2011-05-23,128.67,78.18,518.39,164.82,332.97,IBM,BUY,1500,477636.00
2011-06-02,128.35,78.82,528.06,162.69,344.62,IBM,SELL,3300,1014513.00
2011-06-10,124.33,77.32,509.51,159.84,324.51,AAPL,BUY,1200,625101.00
2011-08-09,115.04,69.43,573.41,167.84,372.41,GOOG,BUY,55,593563.45
2011-08-11,114.89,69.83,562.13,164.03,372.10,GOOG,SELL,55,624480.60
2011-12-14,119.82,77.96,618.07,186.41,378.56,AAPL,SELL,1200,1078752.60

In [59]:
order_op['tranzaction'][-1]/1000000-1#this  is cummulative return percent  , function from georgia  not good

0.078752600000000061